<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="PayBack UI Test Suite" verbose="2">
    <parameter name="browserType" value="firefox"/>
    <parameter name="headlessMode" value="true"/>

    <test name="Anmelden UI Test">
        <classes>
            <class name="UITest.PayBackTest"/>
        </classes>
    </test>

</suite>
